<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Check entrence to system">
  <test name="Check correct and incorrect login to system">
    <classes>
       <!--class name="com.tklender.test.tklTestLoginPage"/-->
       <class name="com.tklender.test.tkTestUserPage"/>   
       <!--class name="com.tklender.test.tkTestCreateNewApp"/-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->